@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* remove later */
body {
  color: white;
}

#__next {
  height: 100vh;
}

::selection {
  color: #fff;
  background: #8229c6;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1c1c1c;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: linear-gradient(to top, #8229c6 0%, #2bf2e5 100%);
  background: -webkit-linear-gradient(to top, #8229c6 0%, #2bf2e5 100%);
  background: -moz-linear-gradient(to top, #8229c6 0%, #2bf2e5 100%);
}

#logo-text {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 30px;
}

#navbar-icon {
  -webkit-animation: out 1s;
  animation: out 1s;
  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);
}

#navbar-icon:hover {
  -webkit-animation: in 1s;
  animation: in 1s;
  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);
}

@-webkit-keyframes in {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes out {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes in {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes out {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.up-down-animation {
  -webkit-animation: up-down 2.5s;
  animation: up-down 2.5s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
